---
import RichText from "@components/RichText.astro";
import { getCategories } from "src/api/getCategories";
import Layout from "src/layouts/Layout.astro";
import type {
  FormattedElement,
  FormattedText,
} from "../../../../payload/src/rich-text-export";

export async function getStaticPaths() {
  const data = await getCategories();

  return data.category.map((c) => {
    return {
      params: { slug: c.slug },
      props: {
        opis: c.opis,
        ime: c.ime,
        categoryImages: c.categoryImages,
        specifikacijePrednost: c.specifikacije_i_prednost,
      },
    };
  });
}

const { opis, ime, specifikacijePrednost, categoryImages } = Astro.props;

const content = specifikacijePrednost as (FormattedElement | FormattedText)[];
---

<Layout title="Ekocell | Egger Izolacija">
  <section class="xl:max-w-7xl m-auto mt-10 px-5 md:px-10">
    <div>
      <h1
        class="lg:text-6xl text-5xl leading-snug lg:leading-normal mb-2 text-slate-800"
      >
        {ime}
      </h1>

      <p class="text-slate-600">{opis}</p>
    </div>
    {
      categoryImages.map(
        (ci: any) =>
          ci.mainImage && (
            <img
              src={ci.mainImage.url}
              alt={ci.mainImage.alt}
              class="w-full mt-10"
            />
          )
      )
    }
    <div>
      {
        content.map(
          (s: any) => s.specifikacija && <RichText richText={s.specifikacija} />
        )
      }
    </div>
  </section>
</Layout>
