---
// import type { Media } from "payload-types";
import classes from "./Card.module.scss";

export interface Props {
  title?: string;
  shortDescription?: string;
  href: string;
  image: any;
}

const { href, title, shortDescription, image } = Astro.props;
const url = image.url;
console.log(url);

// console.log(url);
---

<li
  class:list={[classes["link-card"], "h-full flex flex-col rounded-lg border"]}
>
  <div class="p-3">
    {
      url ? (
        <img class="w-full min-h-fit rounded" src={`${url}`} alt="" />
      ) : (
        <img class="w-full rounded" src={"/placeholder.jpg"} alt="" />
      )
    }
  </div>

  <div class="p-3">
    <h2 class="font-medium text-lg mb-2">
      <a class={classes.link} href={href}>
        {title}
        &rarr;
      </a>

      <a class={classes["sr-only"]} href={href}>{title}</a>
    </h2>

    <p>
      {shortDescription}
    </p>
  </div>
</li>
