---
import type { Media } from "payload-types";
import classes from "./Card.module.scss";

export interface Props {
  title?: string;
  shortDescription?: string;
  href: string;
  categoryImage: Media | undefined;
}

const { href, title, shortDescription, categoryImage } = Astro.props;
const url = categoryImage?.url;
// console.log(url);
---

<li
  class:list={[classes["link-card"], "h-full flex flex-col rounded-lg border"]}
>
  <div class="p-3">
    <img
      class="aspect-video rounded"
      src={`${url ? url : "/placeholder.jpg"}`}
      alt=""
    />
  </div>

  <div class="p-3">
    <h2 class="font-medium text-lg mb-2">
      <a class={classes.link} href={href}>
        {title}
        &rarr;
      </a>

      <a class={classes["sr-only"]} href={href}>{title}</a>
    </h2>

    <p>
      {shortDescription}
    </p>
  </div>
</li>
